:host {
  --mc-side-sheet-shape-local: var(--mc-side-sheet-shape, var(--mc-shape-large));
  --mc-side-sheet-container-color-local: var(--mc-side-sheet-container-color, var(--mc-surface));


  min-width: 0px;
  pointer-events: none;
}

:host([global]) {
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 10;
}

.surface {
  z-index: 22;
  overflow: hidden;
  box-sizing: border-box;
  width: 0px;
  height: 100%;
  transition: width;
  transition-duration: var(--mc-motion-duration-medium2);
  transition-timing-function: var(--mc-motion-easing-standard);
  border-radius: var(--mc-side-sheet-shape-local) 0 0 var(--mc-side-sheet-shape-local);
  background-color: var(--mc-side-sheet-container-color-local);
  pointer-events: none;
}

:host(.open) {
  flex-shrink: 0;
}

:host(.open) .surface {
  pointer-events: all;
  width: var(--mc-side-sheet-width);
  transition: width;
  transition-duration: var(--mc-motion-duration-medium3);
  transition-timing-function: var(--mc-motion-easing-standard-decelerate);
}

:host([divider]:not([modal]).open) .surface {
  border-radius: 0;
  border-left: 1px solid var(--mc-outline-variant);
  transition: width, border;
  transition-duration: var(--mc-motion-duration-medium3), var(--mc-motion-duration-medium3);
  transition-timing-function: var(--mc-motion-easing-standard-decelerate), var(--mc-motion-easing-standard-decelerate);
}

:host([align-left]) .surface {
  border-radius: 0 var(--mc-side-sheet-shape-local) var(--mc-side-sheet-shape-local) 0;
}

:host([modal]) .surface {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  animation: box-shadow-animation;
  animation-duration: var(--mc-motion-duration-medium2);
  animation-timing-function: var(--mc-motion-easing-standard);
}

:host([modal].open) .surface {
  box-shadow: var(--mc-elevation-2);
  animation-duration: var(--mc-motion-duration-medium3);
  animation-timing-function: var(--mc-motion-easing-standard-decelerate);
}

:host([align-left][modal]) .surface {
  left: 0;
  right: unset;
}

:host([inset][modal]) .surface {
  right: 0px;
  top: 16px;
  height: calc(100% - 32px);
  border-radius: var(--mc-side-sheet-shape-local);
  transition: width, right;
  transition-duration: var(--mc-motion-duration-medium2), var(--mc-motion-duration-short1);
  transition-timing-function: var(--mc-motion-easing-standard);
}

:host(.open[inset][modal]) .surface {
  right: 16px;
  width: var(--mc-side-sheet-width);
  transition: width, right;
  transition-duration: var(--mc-motion-duration-medium3), var(--mc-motion-duration-short1);
  transition-timing-function: var(--mc-motion-easing-standard-decelerate);
}

:host([inset]:not([modal])) {
  margin: 16px;
  margin-left: 0;
  border-radius: var(--mc-side-sheet-shape-local);
}
:host([inset]:not([modal])) .surface {
  border-radius: var(--mc-side-sheet-shape-local);
}

.surface-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  width: var(--mc-side-sheet-width);
  overflow: visible;
  background-color: var(--mc-side-sheet-container-color-local);
}

.default-slot {
  display: block;
  flex: 1;
  overflow-y: scroll;
  padding: 24px;
  padding-top: 8px;
}

:host([modal][scrim]) .scrim,
:host([global][scrim]) .scrim {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9;
  opacity: 0;
  background-color: var(--mc-scrim);
  animation: scrim-close-animation;
  animation-duration: var(--mc-motion-duration-short4);
  animation-timing-function: var(--mc-motion-easing-standard);
}

:host([modal].open[scrim]) .scrim,
:host([global].open[scrim]) .scrim {
  display: block;
  overscroll-behavior: contain;
  opacity: 0.16;
  pointer-events: all;
  animation: scrim-open-animation;
  animation-duration: var(--mc-motion-duration-short4);
  animation-timing-function: var(--mc-motion-easing-standard);
}

:host([global][scrim]) .scrim {
  position: fixed;
  z-index: -1;
}


.header {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 12px;
}

slot[name="headline"] {
  display: inline-flex;
  flex: 1;
  font-size: var(--mc-font-large-title-size);
  font-weight: var(--mc-font-large-title-weight);
  letter-spacing: var(--mc-font-large-title-tracking);
  line-height: 48px;
  color: var(--mc-on-surface-variant);
  margin-left: 24px;
}

:host([back]) slot[name="headline"] {
  margin-left: 12px;
}

.back,
.close {
  display: none;
  position: relative;
}

/* used for composedPath on click event */
.back::after,
.close::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

:host([back]) .back {
  display: inline-flex;
  margin-left: 12px;
}

:host(:not([hide-close])) .close {
  display: inline-flex;
  margin-right: 12px;
}

.actions {
  display: flex;
  align-items: center;
  max-height: 72px;
  padding-left: 8px;
  gap: 8px;
  /* use for border since with no elements the height is 0 */
  box-shadow: inset 0px 1px 0px 0px var(--mc-outline-variant);
}

/* use margin to fill 72px height */
slot[name="action"]::slotted(*) {
  margin: 36px 0;
}


/* Hack to show box shadow during open and close animations for modal */
@keyframes box-shadow-animation {
  0% {
    box-shadow: var(--mc-elevation-2);
  }

  100% {
    box-shadow: var(--mc-elevation-2);
  }
}

@keyframes scrim-open-animation {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 0.16;
  }
}

@keyframes scrim-close-animation {
  0% {
    display: block;
    opacity: 0.16;
  }

  100% {
    display: block;
    opacity: 0;
  }
}


.predictive-back-icon {
  --mc-predictive-back-stretch: 0px;

  display: flex;
  position: absolute;
  top: calc(50% - 18px);
  width: calc(24px + var(--mc-predictive-back-stretch));
  height: 32px;
  border-radius: 18px;
  background-color: rgb(from var(--mc-scrim) r g b / 76%);
  opacity: 1;
  pointer-events: none;
  color: var(--mc-on-primary);
  align-items: center;
  justify-content: center;

  right: 12px;
  left: unset;
  transition: right, opacity;
  transition-duration: var(--mc-motion-duration-medium1);
}

.predictive-back-icon.hide {
  opacity: 0;
  right: -100%;;
}

.predictive-back-icon svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  rotate: 180deg;
  margin-top: -1px;
  margin-left: -6px;
}

:host([align-left]) .predictive-back-icon {
  right: unset;
  left: 12px;
  transition: left, opacity;
  transition-duration: var(--mc-motion-duration-medium1);
}

:host([align-left]) .predictive-back-icon.hide {
  right: unset;
  left: -100%;
  opacity: 0;
}

:host([align-left]) .predictive-back-icon.hide svg {
  rotate: unset;
  margin-left: unset;
  margin-top: -3px;
  margin-right: -4px;
}




