:host {
  position: relative;
  display: inline-flex;
  border-radius: var(--mc-button-shape);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  place-content: center;
  place-items: center;
  height: 40px;
  line-height: 40px;
  font-size: var(--mc-font-large-label-size);
  font-weight: var(--mc-font-large-label-weight);
  letter-spacing: var(--mc-font-large-label-tracking);
  color: var(--mc-button-color);
}

:host([disabled]) {
  cursor: default;
  color: var(--mc-on-surface);
  opacity: 0.38;
  pointer-events: none;

  button {
    pointer-events: none;
  }
}

button {
  border-radius: inherit;
  cursor: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font: inherit;
  color: inherit;
  padding: 0;
  gap: 8px;
  padding: 0 16px;
}

:host([filled]) {
  color: var(--mc-button-color-filled);
  background-color: var(--mc-button-container-color-filled);
}

:host([disabled][filled]) {
  background-color: var(--mc-button-container-color-disabled);
  color: var(--mc-button-color-disabled);
}

:host([elevated]) {
  color: var(--mc-button-color-elevated);
  background-color: var(--mc-button-container-color-elevated);
}

:host([disabled][elevated]) {
  background-color: var(--mc-button-container-color-disabled);
  color: var(--mc-button-color-disabled);
}

:host([filled-tonal]) {
  color: var(--mc-button-color-filled-tonal);
  background-color: var(--mc-button-container-color-filled-tonal);
}

:host([disabled][filled-tonal]) {
  background-color: var(--mc-button-container-color-disabled);
  color: var(--mc-button-color-disabled);
}

:host([outlined]) {
  color: var(--mc-button-color-outlined);
  background-color: var(--mc-button-container-color-outlined);
  border: 1px solid var(--mc-button-outline-color-outlined);
}

:host([disabled][outlined]) {
  color: var(--mc-button-color-disabled);
  border: 1px solid var(--mc-button-container-color-disabled);
}


::slotted(mc-icon),
slot[name="leading-icon"]::slotted(mc-icon) {
  pointer-events: none;
  margin-right: -2px;
  margin-left: -2px;
  width: var(--mc-font-small-icon-size);
  height: var(--mc-font-small-icon-size);
  font-size: var(--mc-font-small-icon-size);
  line-height: var(--mc-font-small-icon-size);
}

.spinner {
  position: absolute;
  top: 5px;
  --mc-progress-circular-stroke-width: 6;
}

:host(.async-pending) {
  pointer-events: none;

  button .default-slot {
    color: transparent;
  }
}



/* --- states --- */

mc-state-layer {
  --mc-state-layer-focus-color: var(--mc-on-surface);
  --mc-state-layer-hover-color: var(--mc-primary);
  --mc-state-layer-ripple-color: var(--mc-primary);
}

:host([filled]) mc-state-layer {
  --mc-state-layer-focus-color: var(--mc-on-primary);
  --mc-state-layer-hover-color: var(--mc-on-primary);
  --mc-state-layer-ripple-color: var(--mc-on-primary);
}

:host([filled-tonal]) mc-state-layer {
  --mc-state-layer-focus-color: var(--mc-on-secondary-container);
  --mc-state-layer-hover-color: var(--mc-on-secondary-container);
  --mc-state-layer-ripple-color: var(--mc-on-secondary-container);
}

:host([elevated]) mc-state-layer {
  --mc-state-layer-focus-color: var(--mc-button-elevate-state-layer-color);
  --mc-state-layer-hover-color: var(--mc-primary);
  --mc-state-layer-ripple-color: var(--mc-primary);
}

:host([outlined]) mc-state-layer {
  --mc-state-layer-focus-color: var(--mc-primary);
  --mc-state-layer-hover-color: var(--mc-primary);
}

:host([filled]) mc-state-layer,
:host([filled-tonal]) mc-state-layer {
  --mc-state-layer-focus-box-shadow: var(--mc-elevation-1);
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-1);
}

:host([elevated]) mc-state-layer {
  --mc-state-layer-box-shadow: var(--mc-elevation-1);
  --mc-state-layer-focus-box-shadow: var(--mc-elevation-2);
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-2);
}

:host([disabled]) mc-state-layer {
  --mc-state-layer-box-shadow: none;
}
