:root {
  --mc-button-shape: var(--mc-shape-extra-large);

  --mc-button-color: var(--mc-primary);

  --mc-button-color-filled: var(--mc-on-primary);
  --mc-button-container-color-filled: var(--mc-primary);

  --mc-button-color-disabled: rgba(from var(--mc-on-surface) r g b / 38%);
  --mc-button-container-color-disabled: rgba(from var(--mc-on-surface) r g b / 12%);

  --mc-button-color-elevated: var(--mc-primary);
  --mc-button-container-color-elevated: var(--mc-surface-container-low);

  --mc-button-color-filled-tonal: var(--mc-on-secondary-container);
  --mc-button-container-color-filled-tonal: var(--mc-secondary-container);

  --mc-button-color-outlined: var(--mc-primary);
  --mc-button-container-color-outlined: var(--mc-button-outlined-container-color);
  --mc-button-outline-color-outlined: var(--mc-outline);
}
