:host {
  --mc-container-color: var(--mc-menu-container-color, var(--mc-surface-container));
  --mc-shape: var(--mc-menu-border-radius, var(--mc-shape-extra-small));
  --mc-padding: 8px 0px;

  
  min-width: 112px;
  width: min-content;
  flex-direction: column;
}
