:host {
  --mc-padding: 8px 0px;
  --mc-container-color: var(--mc-surface-container);
  --mc-shape: var(--mc-border-radius, var(--mc-shape-extra-small));

  
  min-width: 112px;
  width: min-content;
  flex-direction: column;
}
