:host {
  --mc-menu-item-text-color-local: var(--mc-menu-item-text-color, var(--mc-on-surface));
  --mc-menu-selected-container-color-local: var(--mc-menu-item-selected-container-color, var(--mc-secondary-container));
  --mc-menu-selected-text-color-local: var(--mc-menu-item-selected-text-color, var(--mc-on-secondary-container));

  user-select: none;
  box-sizing: border-box;
  position: relative;
  height: 48px;
  line-height: 48px;
  font-size: var(--mc-font-large-label-size);
  font-weight: var(--mc-font-large-label-weight);
  letter-spacing: var(--mc-font-large-label-tracking);
  color: var(--mc-menu-item-text-color-local);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
  gap: 8px;
}

:host([disabled]) {
  pointer-events: none;
  opacity: 0.3;
}

button {
  border-radius: inherit;
  box-sizing: border-box;
  cursor: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  text-decoration: none;
  width: 100%;
  height: inherit;
  line-height: inherit;
  font: inherit;
  color: inherit;

  /* Hack to fix aria touch target size. Not sure why this works */
  margin: 1px 0px;
  padding: 11px 16px;

  gap: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(.selected) {
  color: var(--mc-menu-selected-text-color-local);
  background-color: var(--mc-menu-selected-container-color-local);
}

:host(.filtered) {
  display: none;
  pointer-events: none;
}

.default-slot {
  display: inline;
}

.default-slot,
.text ::slotted(*) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

slot  {
  pointer-events: none;
}

slot[name="start"],
slot[name="end"] {
  color: var(--mc-on-surface-variant);
}

/* .default-slot {
  flex: 1;
} */

::slotted(.drop-arrow) {
  position: absolute;
  transform: rotate(-90deg);
  right: 16px;
  top: 50%;
}

/* :host([aria-controls]) */
button[popovertarget] {
  margin-right: 16px;
  width: calc(100% - 16px);
}


mc-state-layer {
  --mc-state-layer-hover-color: var(--mc-on-surface);
  --mc-state-layer-focus-color: var(--mc-on-surface);
  --mc-state-layer-ripple-color: var(--mc-on-surface);
}
