:root {
  --mc-fab-shape: var(--mc-shape-large);
  --mc-fab-shape-large: var(--mc-shape-extra-large);
  --mc-fab-shape-small: var(--mc-shape-medium);

  --mc-fab-color: var(--mc-on-primary-container);
  --mc-fab-container-color: var(--mc-primary-container);

  --mc-fab-color-surface: var(--mc-primary);
  --mc-fab-container-color-surface: var(--mc-surface-container-hight);

  --mc-fab-color-surface-lowered: var(--mc-on-secondary-container);
  --mc-fab-container-color-surface-lowered: var(--mc-secondary-container);

  --mc-fab-color-secondary: var(--mc-on-secondary-container);
  --mc-fab-container-color-secondary: var(--mc-secondary-container);

  --mc-fab-color-tertiary: var(--mc-on-tertiary-container);
  --mc-fab-container-color-tertiary: var(--mc-tertiary-container);
}
