:host {
  --mc-state-layer-focus-color: var(--mc-on-surface);
  --mc-state-layer-hover-color: var(--mc-on-surface);
  --mc-state-layer-focus-indicator-color: var(--mc-secondary);
  --mc-state-layer-focus-indicator-thickness: 3px;
  --mc-state-layer-focus-indicator-offset: 2px;
  --mc-state-layer-box-shadow: none;
  --mc-state-layer-focus-box-shadow: none;
  --mc-state-layer-hover-box-shadow: none;
  --mc-state-layer-ripple-color: var(--mc-primary);

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-sizing: border-box;
  outline: none;
  box-shadow: var(--mc-state-layer-box-shadow);
  transition: box-shadow;
  transition-duration: var(--mc-motion-duration-short2);
  transition-timing-function: var(--mc-motion-easing-emphasized);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  opacity: 0;

  transition: outline-width, box-shadow;
  transition-duration: var(--mc-motion-duration-short2);
  transition-timing-function: var(--mc-motion-easing-emphasized);
}

:host(.focus) .background {
  opacity: var(--mc-state-layer-opacity-focus);
  background-color: var(--mc-state-layer-focus-color);
}

:host(.hover) .background {
  opacity: var(--mc-state-layer-opacity-hover);
  background-color: var(--mc-state-layer-hover-color);
}

:host(.focus) {
  box-shadow: var(--mc-state-layer-focus-box-shadow);
  outline: var(--mc-state-layer-focus-indicator-thickness) solid var(--mc-state-layer-focus-indicator-color);
  outline-offset: var(--mc-state-layer-focus-indicator-offset);
}

:host(.focus[noring]) {
  box-shadow: var(--mc-state-layer-focus-box-shadow);
  outline: none;
  outline-offset: 0;
}

:host(.hover) {
  box-shadow: var(--mc-state-layer-hover-box-shadow);
}

.ripple {
  overflow: hidden;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .ripple-element {
    background-color: var(--mc-state-layer-ripple-color);
  }
}

:host([outer-circle]) .ripple,
:host([outer-circle]) .background {
  border-radius: 50%;
  margin: -9px;
}
