mc-list {
  background: var(--mc-list-item-container-color, var(--mc-surface));
  color: unset;
  display: flex;
  flex-direction: column;
  outline: none;
  position: relative;
  row-gap: 2px;
}

/* Example of view transition for list items
ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.test {
  display: block;
  position: relative;
  height: 100%;
  max-height: 18px;
  view-transition-class: test;
}

::view-transition-group(*.test) {
	animation-duration: 0.5s;
} */
