a {
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

  font-size: var(--mc-font-large-label-size);
  font-weight: var(--mc-font-large-label-weight);
  letter-spacing: var(--mc-font-large-label-tracking);
  line-height: 40px;
  color: var(--mc-primary);
}

a:-webkit-any-link:active {
  color: inherit;
}

a:focus-visible {
  text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
