:root {
  color-scheme: only light;
}

:root.mc-theme-dark {
  color-scheme: only dark;
}

body {
  background-color: var(--mc-background-color, var(--mc-surface));
  margin: 0;
  width: 100vw;
  display: grid;
  overflow: hidden;
  grid-template-columns: min-content minmax(0, 1fr) min-content;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  grid-template-areas:
    "navigation header header"
    "navigation main side"
    "navigation footer footer";
  /* overflow: auto; */
  overflow: hidden;
  overflow-y: auto;
}

body.pane-layout {
  height: 100vh;
}

body:has(dialog[open]),
body:has([role=dialog][open]:not([anchor])),
body.window-compact:has(mc-search.open) {
  overflow: hidden
}

/* main {
  padding: 16px;
} */


/* html {
  font-size: 16px;
  height: 100%;
  overflow-anchor: none;
} */

/* body {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin: 0;

  background-color: var(--mc-background);
  color: var(--mc-on-background);
} */

/* body page-content,
body #page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 12px;
  max-width: 100dvw;
} */

mc-pane::-webkit-resizer {
  border: 2px solid black;
  background: blue;
}

.prevent-user-selection {
  -webkit-user-select: none;
  user-select: none;
}

@keyframes action-bounce-in {
  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
