:host {
  --mc-card-swipe-action-position: 0;

  display: block;
  border-radius: var(--mc-shape-medium);
  position: relative;
  width: inherit;

  left: var(--mc-card-swipe-action-position);
  transition: left;
  transition-duration: var(--mc-motion-duration-short3);
  outline: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--mc-surface-container-low);
  color: var(--mc-on-surface);
  box-sizing: border-box;
  border-radius: inherit;
  padding: 16px;
  width: inherit;
}

.content {
  position: relative;
}

.default-slot {
  display: block;
  position: relative;
  /* margin: 0 -16px; */
}

.placeholder {
  display: none;
}

[name="headline"] {
  display: block;
  /* margin-top: 16px; */
  font-size: var(--mc-font-small-headline-size);
  font-weight: var(--mc-font-small-headline-weight);
  line-height: var(--mc-font-small-headline-line-height);
  letter-spacing: var(--mc-font-small-headline-tracking);
  color: var(--mc-on-surface);
}

[name="subhead"] {
  font-size: var(--mc-font-small-title-size);
  font-weight: var(--mc-font-small-title-weight);
  line-height: var(--mc-font-small-title-line-height);
  letter-spacing: var(--mc-font-small-title-tracking);
  color: var(--mc-on-surface-variant);
}

[name="supporting-text"] {
  font-size: var(--mc-font-medium-body-size);
  font-weight: var(--mc-font-medium-body-weight);
  line-height: var(--mc-font-medium-body-line-height);
  letter-spacing: var(--mc-font-medium-body-tracking);
  color: var(--mc-on-surface-variant);
}

.expand-arrow {
  display: none;
  cursor: pointer;

  &.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(20px);
    transition: transform;
    transition-duration: 0ms;
    transition-duration: var(--mc-motion-duration-short3);
  }
}

.fullscreen-close {
  display: none;
}

[name="swipe-action"] {
  display: none;
}

/* --- state layer --- */

mc-state-layer {
  --mc-state-layer-box-shadow: var(--mc-elevation-1);
  --mc-state-layer-hover-color: var(--mc-on-surface);
  --mc-state-layer-focus-color: var(--mc-on-surface);
  --mc-state-layer-ripple-color: var(--mc-primary);
}

:host([filled]) mc-state-layer {
  --mc-state-layer-box-shadow: none;
  --mc-state-layer-ripple-color: var(--mc-primary);
}

:host(.expanding[open][filled]) mc-state-layer {
  --mc-state-layer-box-shadow: var(--mc-elevation-1);
}

:host([outlined]) mc-state-layer {
  --mc-state-layer-box-shadow: none;
}

:host(.actionable) mc-state-layer {
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-2);
  --mc-state-layer-focus-box-shadow: var(--mc-elevation-2);
}

:host(.drag-active) mc-state-layer {
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-4);
}

:host([filled].actionable) mc-state-layer,
:host([outlined].actionable) mc-state-layer {
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-1);
  --mc-state-layer-focus-box-shadow: none;
}

:host([filled].drag-active) mc-state-layer,
:host([outlined].drag-active) mc-state-layer {
  --mc-state-layer-hover-box-shadow: var(--mc-elevation-3);
  --mc-state-layer-focus-box-shadow: none;
}
