:host {
  --mc-navigation-container-color-local: var(--mc-navigation-container-color, var(--mc-surface));

  --mc-side-sheet-width: var(--mc-navigation-drawer-width);
  --mc-side-sheet-container-color: var(--mc-navigation-drawer-container-color, var(--mc-navigation-container-color-local));
  --mc-side-sheet-shape: var(--mc-navigation-drawer-shape, var(--mc-shape-large));

  /* use sticky to ignore page scroll */
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 9;
  grid-area: navigation;
}

:host([modal]) {
  z-index: 23;
}

slot[name="header"] {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-left: 0;
  height: 56px;
}

::slotted(.headline) {
  line-height: 56px;
  height: 56px;
  margin-bottom: 12px;
  font-size: var(--mc-font-small-title-size);
  font-weight: var(--mc-font-small-title-weight);
  letter-spacing: var(--mc-font-small-title-tracking);
  color: var(--mc-on-surface-variant);
}

.surface-content {
  padding: 12px 28px;
  box-sizing: border-box;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.default-slot {
  padding: 0;
  overflow-y: visible;
}

/* adjust for sticky */
:host([modal][scrim]) .scrim {
  width: 100vw;
  height: 100vh;
}

::slotted(mc-divider) {
  display: flex;
  margin-top: 16px;
  margin-right: -8px;
  border-top: 1px solid rgb(from var(--mc-outline) r g b / 26%);
}
