:host {
  --mc-navigation-container-color-local: var(--mc-navigation-container-color, var(--mc-surface));
  --mc-navigation-rail-container-color-local: var(--mc-navigation-rail-container-color, var(--mc-navigation-container-color-local));

  grid-area: navigation;

  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 8;
  width: var(--mc-navigation-rail-width);
}

:host(.hide) {
  display: none;
}

.surface {
  display: block;
  background-color: var(--mc-navigation-rail-container-color-local);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--mc-navigation-rail-width);
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 18px 0px;
}
