:host {
  position: relative;
  --mc-navigation-drawer-group-height: 0px;
}

:host a[control]::after {
  z-index: 0;
}


:host a[control] .arrow {
  display: block;
  height: 42px;
  transition: transform 0ms;
  transition-duration: var(--mc-motion-duration-short3);
}
  
:host a[control].open .arrow {
  transform: rotate(180deg);
}

@media (hover: hover) {
  :host(:hover) a[control]::after {
    opacity: var(--mc-state-layer-opacity-hover);
    background-color: var(--mc-on-surface);
  }

  :host(.current:hover) a[control]::after {
    background-color: var(--mc-on-secondary-container);
  }

  :host(:not(.current):hover) a[control] mc-icon {
    color: var(--mc-on-surface);
  }
}

.default-slot {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--mc-navigation-drawer-group-height);
  width: calc(100% - 16px);
  transition: height;
  padding-left: 16px;
  padding-right: 16px;
  transition-duration: var(--mc-motion-duration-short4);
  transition-timing-function: var(--mc-motion-easing-standard-decelerate);
}
