:host {
  --mc-anchor-text-color-local: var(--mc-anchor-text-color, var(--mc-on-surface-variant));
  --mc-anchor-shape-local: var(--mc-anchor-shape, var(--mc-shape-extra-large));
  --mc-anchor-current-container-color-local: var(--mc-anchor-current-container-color, var(--mc-secondary-container));


  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: 56px;
  line-height: 56px;
  margin-bottom: 2px;
  width: 100%;

  font-size: var(--mc-font-large-label-size);
  font-weight: var(--mc-font-large-label-weight);
  letter-spacing: var(--mc-font-large-label-tracking);
  border-radius: var(--mc-anchor-shape-local);
  color: var(--mc-anchor-text-color-local);
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    right: -16px;
    height: 56px;
    z-index: 0;
    border-radius: var(--mc-anchor-shape-local);
  }

  &::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    right: -16px;
    height: 56px;
    pointer-events: none;
    border-radius: var(--mc-anchor-shape-local);
  }

  &::after,
  &::before {
    transition: left, right;
    transition-duration: var(--mc-motion-duration-medium1);
    transition-timing-function: var(--mc-motion-easing-standard);
  }
}

:host(.current)::before {
  pointer-events: none;
  background-color: var(--mc-anchor-current-container-color-local);
}

a {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  border-radius: inherit;
  line-height: inherit;
  height: inherit;
  color: inherit;
  text-decoration: inherit;
  border: none;
  outline: none;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
}

.default-slot {
  display: block;
  flex: 1;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  border-radius: inherit;
  line-height: inherit;
  height: inherit;
  color: inherit;
}

:host(:-webkit-any-link:active) {
  color: unset;
}

:host(.animate)::after,
:host(.animate)::before {
  left: 40%;
  right: 40%;
  transition-duration: 0s;
}

:host(:focus)::after {
  opacity: var(--mc-state-layer-opacity-focus);
  background-color: var(--mc-on-surface);
}

:host(.current:focus)::after {
  background-color: var(--mc-on-secondary-container);
}

slot[name="leading-icon"]::slotted(mc-icon) {
  pointer-events: none;
  margin-right: 12px;
}

.badge-display {
  z-index: 0;
  color: var(--wfc-on-surface-variant);
  font-size: var(--wfc-font-large-label-size);
  font-size: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
}


@media (hover: hover) {
  :host(:hover)::after {
    opacity: var(--mc-state-layer-opacity-hover);
    background-color: var(--mc-on-surface);
  }

  :host(.current:hover)::after {
    background-color: var(--mc-on-secondary-container);
  }

  :host(:not(.current):hover) ::slotted(mc-icon) {
    color: var(--mc-on-surface);
  }
}

[name="trailing-icon"]::slotted(.arrow) {
  display: block;
  height: 42px;
  transition: transform 0ms;
  transition-duration: var(--mc-motion-duration-short3);
}

:host(.open) [name="trailing-icon"]::slotted(.arrow) {
  transform: rotate(180deg);
}
