a,
::slotted(a) {
  --mc-anchor-text-color-local: var(--mc-anchor-text-color, var(--mc-on-surface-variant));
  --mc-anchor-shape-local: var(--mc-anchor-shape, var(--mc-shape-extra-large));
  --mc-anchor-current-container-color-local: var(--mc-anchor-current-container-color, var(--mc-secondary-container));

  position: relative;
  display: grid;
  grid-template-columns: minmax(0, max-content)  minmax(0, 1fr) min-content;
  grid-template-rows: 1fr;
  grid-template-areas: "leading text trailing";
  align-items: center;


  line-height: inherit;
  height: inherit;
  color: inherit;
  text-decoration: inherit;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: 56px;
  line-height: 56px;
  margin-bottom: 2px;
  width: 100%;
  z-index: 0;
  text-decoration: none;
  user-select: none;
  color: var(--mc-anchor-text-color-local) !important;
  font-size: var(--mc-font-large-label-size) !important;
  font-weight: var(--mc-font-large-label-weight) !important;
  letter-spacing: var(--mc-font-large-label-tracking) !important;
  border-radius: var(--mc-anchor-shape-local) !important;
}

a::before,
::slotted(a)::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: var(--mc-anchor-shape-local);
  left: -16px;
  right: -16px;
  height: 56px;
  transition: left, right;
  transition-duration: var(--mc-motion-duration-medium1);
  transition-timing-function: var(--mc-motion-easing-standard);
}

a::after,
::slotted(a)::after {
  content: '';
  position: absolute;
  top: 0;
  pointer-events: none;
  border-radius: var(--mc-anchor-shape-local);
  z-index: -1;
  left: -16px;
  right: -16px;
  height: 56px;
  transition: left, right;
  transition-duration: var(--mc-motion-duration-medium1);
  transition-timing-function: var(--mc-motion-easing-standard);
}


a:hover,
a:focus,
::slotted(a:hover),
::slotted(a:focus) {
  text-decoration: none !important;
}

::slotted(a:focus)::after,
a:focus::after {
  opacity: var(--mc-state-layer-opacity-focus);
  background-color: var(--mc-on-surface);
}

::slotted(a.current)::before,
a.current::before {
  pointer-events: none;
  background-color: var(--mc-anchor-current-container-color-local);
}

::slotted(a.current:focus)::after,
a.current:focus::after {
  background-color: var(--mc-on-secondary-container);
}


a.animate::after,
a.animate::before,
::slotted(a.animate)::after,
::slotted(a.animate)::before {
  left: 40%;
  right: 40%;
  transition-duration: 0s;
}


@media (hover: hover) {
  ::slotted(a:hover)::after,
  a:hover::after {
    opacity: var(--mc-state-layer-opacity-hover);
    background-color: var(--mc-on-surface);
  }

  ::slotted(a:hover.current)::after,
  a:hover.current::after {
    background-color: var(--mc-on-secondary-container);
  }
}
