:host {
  --wfc-navigation-drawer-group-height: 0px;
}

.default-slot {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--wfc-navigation-drawer-group-height);
  width: calc(100% - 16px);
  transition: height;
  padding-left: 16px;
  padding-right: 16px;
  transition-duration: var(--wfc-motion-duration-short4);
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}
