mc-navigation-bar,
mc-navigation-rail {
  mc-anchor {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 56px;
    margin-bottom: 2px;
  
    font-size: var(--mc-font-medium-label-size);
    font-weight: var(--mc-font-medium-label-weight);
    letter-spacing: var(--mc-font-medium-label-tracking);
    border-radius: var(--mc-shape-extra-medium);

    &::before {
      left: unset;
      right: unset;
      top: 3px;
      width: 64px;
      height: 32px;
      border-radius: var(--mc-shape-extra-large);
    }

    &::after {
      left: unset;
      right: unset;
      top: 3px;
      width: 64px;
      height: 32px;
      border-radius: var(--mc-shape-extra-large);
    }

    &::before,
    &::after {
      transition: transform;
      transition-duration: var(--mc-motion-duration-medium1);
      transition-timing-function: var(--mc-motion-easing-standard);
    }

    &.current::before {
      transform: scale(1);
    }

    &.animate {
      &::after,
      &::before {
        transform: scale(0);
        transition-duration: 0s;
      }
    }

    &.no-text {
      &::after,
      &::before {
        top: 0px;
        height: 56px;
        width: 56px;
        border-radius: var(--mc-shape-full);
      }
    }
  }
}

mc-navigation-rail mc-anchor::part(a) {
  line-height: 20px;
  flex-direction: column;
}

mc-navigation-rail mc-anchor mc-icon {
  margin-right: 0px;
  margin-top: 3px;
  height: 32px;
  line-height: 32px;
}

mc-navigation-rail mc-anchor.no-text mc-icon {
  margin-top: 12px;
}
