a > [slot="leading-icon"] {
  grid-area: leading;
  pointer-events: none;
}

mc-navigation-drawer a > [slot="leading-icon"] {
  margin-right: 12px;
}

mc-navigation-rail a {
  min-width: 88px;
  width: 88px;
}

a > mc-badge,
a > [slot=trailing-icon] {
  grid-area: trailing;
  justify-self: start;
  pointer-events: none;
}

mc-navigation-bar a:not(.no-text) mc-icon,
mc-navigation-rail a:not(.no-text) mc-icon {
  margin-right: 0px;
  height: 32px;
  line-height: 32px;
  margin-top: 12px;
}

mc-navigation-drawer a > [slot="leading-icon"] {
  margin-right: 12px;
}


@media (hover: hover) {
  mc-navigation-rail a:hover:not(.current) mc-icon,
  mc-navigation-bar a:hover:not(.current) mc-icon,
  mc-navigation-drawer a:hover:not(.current) mc-icon {
    color: var(--mc-on-surface);
  }

  mc-navigation-rail a:hover,
  mc-navigation-bar a:hover,
  mc-navigation-drawer a:hover {
    text-decoration: none;
  }
}
