:root {
  /* Override variables */
  --wfc-anchor-color: var(--wfc-on-surface-variant);
  --wfc-anchor-shape: var(--wfc-shape-extra-large);
  --wfc-anchor-current-container-color: var(--wfc-secondary-container);
}
