:root {
  --mc-icon-button-icon-color: var(--mc-on-surface-variant);
  --mc-icon-button-toggle-icon-selected-color: var(--mc-primary);

  --mc-icon-button-icon-filled-color: var(--mc-on-primary);
  --mc-icon-button-toggle-icon-filled-color: var(--mc-primary);
  --mc-icon-button-toggle-icon-filled-selected-color: var(--mc-on-primary);

  --mc-icon-button-icon-filled-tonal-color: var(--mc-on-secondary-container);
  --mc-icon-button-toggle-icon-filled-tonal-color: var(--mc-on-surface-variant);
  --mc-icon-button-toggle-icon-filled-tonal-selected-color: var(--mc-on-secondary-container);

  --mc-icon-button-background-filled-color: var(--mc-primary);
  --mc-icon-button-toggle-background-filled-color: var(--mc-surface-container-highest);
  --mc-icon-button-toggle-background-filled-selected-color: var(--mc-primary);

  --mc-icon-button-background-filled-tonal-color: var(--mc-secondary-container);
  --mc-icon-button-toggle-background-filled-tonal-color: var(--mc-surface-container-highest);
  --mc-icon-button-toggle-background-filled-tonal-selected-color: var(--mc-secondary-container);

  --mc-icon-button-outline-color: var(--mc-outline);
}
