:host {
  --mc-dialog-container-color-local: var(--mc-dialog-container-color, var(--mc-surface-container-high));
  --mc-dialog-headline-color-local: var(--mc-dialog-headline-color, var(--mc-on-surface));
  --mc-dialog-supporting-text-color-local: var(--mc-dialog-supporting-text-color, var(--mc-on-surface-variant));

  --mc-padding: 24px;
  --mc-container-color: var(--mc-dialog-container-color-local);
  --mc-elevation: var(--mc-elevation-3);
  --mc-shape: var(--mc-shape-extra-large);

  display: contents;
  margin: auto;
  max-height: min(560px, calc(100% - 48px));
  max-width: min(560px, calc(100% - 48px));
  min-height: 140px;
  min-width: 280px;
  height: fit-content;
  width: fit-content;
  border-radius: var(--mc-shape);
  overscroll-behavior: contain;
}

dialog {
  display: none;
  border: none;
  border-radius: inherit;
  flex-direction: column;
  height: inherit;
  margin: inherit;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  outline: none;
  overflow: hidden;
  padding: var(--mc-padding);
  width: inherit;
  box-sizing: border-box;
  background-color: var(--mc-container-color);
  box-shadow: var(--mc-elevation);
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  overscroll-behavior: contain;
  clip-path: inherit;

  padding-top: var(--mc-padding-top, var(--mc-padding));
  animation: hide-translate-y;
  animation-duration: var(--mc-motion-duration-short3);
  animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);


  &::backdrop {
    pointer-events: none;
    opacity: 0;
    background-color: var(--mc-scrim);
    transition: opacity;
    transition-duration: var(--mc-motion-duration-short3);
  }

  &[open] {
    display: flex;
    opacity: 1;
    pointer-events: initial;
    animation: show-translate-y;
    animation-duration: var(--mc-motion-duration-medium2);
    animation-timing-function: var(--mc-motion-easing-emphasized);

    &::backdrop {
      opacity: 32%;
      transition-duration: var(--mc-motion-duration-medium2);
    }
  }
}

@starting-style {
  dialog[open]::backdrop {
    opacity: 0;
  }
}

:host([fullscreen]) {
  max-height: 100dvh;
  max-width: 100dvw;
  width: 100dvw;
  height: 100dvh;
  border-radius: 0px;

  dialog {
    transform: translateY(0px);
    top: 0px;
    transform-origin: center;
    transform: none;

    &[open] {
      transform-origin: center;
      transform: none;
    }
  }

  .close-fullscreen {
    display: block;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  /* prevent layout shifting on animation */
  [name=content] {
    width: calc(100dvw - (var(--mc-padding) * 2));
  }
}

:host([open][fullscreen]) {
  height: 100dvh;
  width: 100dvw;
}

:host([fullscreen]) {
  dialog {
    animation: hide-fullscreen;
    animation-duration: var(--mc-motion-duration-short3);
    animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);

    &[open] {
      animation: show-fullscreen;
      animation-duration: var(--mc-motion-duration-medium2);
      animation-timing-function: var(--mc-motion-easing-emphasized);
    }
  }
}

dialog.scroll .header::after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 1px;
  left: -24px;
  right: -24px;
  background-color: var(--mc-outline);
}

dialog.scroll [name=actions].has-actions::after {
  position: absolute;
  content: '';
  top: 0;
  height: 1px;
  left: -24px;
  right: -24px;
  background-color: var(--mc-outline);
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;
  padding-bottom: 16px;

  &.has-icon {
    flex-direction: column;
    justify-content: center;
  }
}

.close-fullscreen {
  display: none;
  position: absolute;
  right: 16px;
  top: 6px;
  cursor: pointer;
  color: var(--mc-on-surface);
}


::slotted(mc-icon) {
  color: var(--mc-dialog-headline-color-local);
}

slot[name='headline']::slotted(*) {
  font-size: var(--mc-font-small-headline-size);
  font-weight: var(--mc-font-small-headline-weight);
  line-height: var(--mc-font-small-headline-line-height);
  letter-spacing: var(--mc-font-small-headline-tracking);
  color: var(--mc-dialog-headline-color-local);
}

slot[name="content"] {
  display: block;
  flex: 1;
  overflow-y: auto;
}

slot[name='content']::slotted(*) {
  font-size: var(--mc-font-medium-body-size);
  font-weight: var(--mc-font-medium-body-weight);
  line-height: var(--mc-font-medium-body-line-height);
  letter-spacing: var(--mc-font-medium-body-tracking);
  color: var(--mc-dialog-supporting-text-color-local);
}

slot[name='actions'] {
  position: relative;
  display: none;
  flex-direction: row-reverse;
  gap: 8px;
  display: flex;
  justify-content: end;
}

slot[name='actions']::slotted(*) {
  margin-top: 24px;
}

::slotted(mc-divider) {
  display: flex;
  position: absolute;
  max-width: calc(100% - 48px);
}

slot[name='headline']::slotted(md-divider) {
  bottom: 0;
}

slot[name='actions']::slotted(md-divider) {
  top: 0;
}


@keyframes show-translate-y {
  0% {
    display: flex;
    opacity: 0;
    min-height: 48px;
    overflow: hidden;
    max-height: 40%;
    transform: translateY(-60%);
  }

  60% {
    opacity: 1;
  }

  70% {
    display: flex;
    min-height: 48px;
    overflow: hidden;
    max-height: inherit;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hide-translate-y {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    display: flex;
    opacity: 0;
  }
}

@keyframes show-fullscreen {
  0% {
    overflow: hidden;
    opacity: 0;
    height: 30dvh;
    top: calc(50% - 15dvh);
    width: 70dvw;
    margin: 0 auto;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
  }
}

@keyframes hide-fullscreen {
  0% {
    position: fixed;
    display: flex;
    overflow: hidden;
    opacity: 1;
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
    top: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    position: fixed;
    display: flex;
    overflow: hidden;
    opacity: 0;
    height: 60dvh;
    width: 70dvw;
    margin: 0 auto;
    top: calc(50% - 30dvh);
  }
}
