mc-snackbar {
  --mc-snackbar-container-color-local: var(--mc-snackbar-container-color, var(--mc-surface-inverse));
  --mc-snackbar-text-color-local: var(--mc-snackbar-text-color, var(--mc-on-surface-inverse));
  --mc-snackbar-action-color-local: var(--mc-snackbar-action-color, var(--mc-primary-container));

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 344px;
  height: 48px;
  padding: 0 16px;
  position: fixed;
  inset: unset;
  bottom: 12px;
  left: 12px;
  margin: 0;
  border: none;

  box-shadow: var(--mc-elevation-1);
  background-color: var(--mc-snackbar-container-color-local);
  font-size: var(--mc-font-medium-body-size);
  font-weight: var(--mc-font-medium-body-weight);
  line-height: 24px;
  letter-spacing: var(--mc-font-medium-body-tracking);
  border-radius: var(--mc-shape-extra-small);
  color: var(--mc-snackbar-text-color-local);

  animation: show-snackbar;
  animation-duration: var(--mc-motion-duration-medium2);
  animation-timing-function: var(--mc-motion-easing-emphasized);
  z-index: 9;

  transition: bottom;
  transition-duration: var(--mc-motion-duration-short3);
  transition-timing-function: var(---mc-motion-easing-standard);
  
  &.navigation-bar-show {
    bottom: 92px;
  }
}

mc-snackbar:not(:popover-open) {
  display: none;
  pointer-events: none;
  animation: hide-snackbar;
  animation-duration: var(--mc-motion-duration-short3);
  animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);
}

mc-snackbar.two-line {
  height: 68px;
}

mc-snackbar mc-button,
mc-snackbar mc-icon {
  color: var(--mc-snackbar-action-color-local);
}

mc-snackbar [aria-label=close] {
  cursor: pointer;
}

mc-snackbar .mc-text {
  flex: 1;
}


@keyframes show-snackbar {
  0% {
    opacity: 0;
    max-height: 12px;
  }

  40% {
    opacity: 1;
  }

  100% {
    max-height: 68px;
  }
}

@keyframes hide-snackbar {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
