@import url(./colorTokens.css);
@import url(./dracula.css);

:root {
  --mc-background-color: var(--mc-surface-container-low);
  --mc-navigation-container-color: var(--mc-surface-container-low);
  /* --mc-surface-container-color: var(--mc-surface-container-lowest); */
}

h1 {
  margin: 0;
  font-size: var(--mc-font-large-headline-size);
  line-height: var(--mc-font-large-headline-line-height);
  font-weight: var(--mc-font-large-headline-weight);
  letter-spacing: var(--mc-font-large-headline-tracking);
}

h2 {
  margin: 0;
  font-size: var(--mc-font-small-headline-size);
  line-height: var(--mc-font-small-headline-line-height);
  font-weight: var(--mc-font-small-headline-weight);
  letter-spacing: var(--mc-font-small-headline-tracking);
}

section {
  margin-top: 36px;
}

code-block pre {
  position: relative;
  margin: 0;
  white-space: pre-wrap;
  font-family: monospace;
  font-weight: bold;
  unicode-bidi: isolate;
  padding-left: 22px !important;
  padding-top: 36px !important;
}

code-block {
  display: block;
  position: relative;
}

code-block button {
  position: absolute;
  right: 0px;
  top: 8px;
  outline: 0;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

code-block button:hover {
  background-color: rgba(255,255,255,0.2);
}

body.window-compact code-block pre {
  font-size: 12px;
  max-width: 358px;
}

mc-card code-block pre {
  margin: 0 -16px;
}

mc-card > code-block:first-of-type pre {
  margin-top: 24px;
}

mc-card > code-block:last-of-type pre {
  border-radius: 0 0 var(--mc-shape-medium) var(--mc-shape-medium);
}

mc-card > code-block:last-child pre {
  margin-bottom: -16px;
}

mc-card .example {
  margin-top: 18px;
}

.article-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 24px;
}

@media (width < 1100px) {
  .article-main {
    flex-direction: column;
  }
}


.links-nav {
  margin-left: 48px;
  box-sizing: border-box;
  min-width: 190px;
}

.links-nav h2 {
  padding-top: 32px;
  position: sticky;
  top: 32px;
  z-index: 1;
}

.links-nav .links {
  position: sticky;
  top: 96px;
  margin-top: -2px;
  list-style-type: none;
  padding-left: 0px;
}

.links a {
  width: 0;
  white-space: nowrap;
  display: block;
}


iframe {
  border: 1px solid var(--mc-outline-alpha-30);
  border-radius: 16px;
  width: 600px;
  
}

.window-compact iframe {
  width: 320px;
}

.page-list {
  list-style-type: none;
  margin-left: -24px;
  margin-top: -4px;
  font-size: 18px;
  line-height: 32px;
  color: rgb(10, 100, 112);
}

.page-list strong {
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
}

.page-subheader {
  margin-top: 8px;
}

.page-secondary-header {
  margin-bottom: 18px;
  margin-top: 28px;
}
