:host {
  --mc-navigation-container-color-local: var(--mc-navigation-container-color, var(--mc-surface));
  --mc-top-app-bar-container-color-local: var(--mc-top-app-bar-container-color, var(--mc-navigation-container-color-local));
  --mc-top-app-bar-container-scrolled-color-local: var(--mc-top-app-bar-container-scrolled-color, var(--mc-surface-container));
  
  --mc-top-app-bar-alt-headline-opacity: 1;

  grid-area: header;
  
  position: sticky;
  top: 0;
  display: inline-flex;
  height: 64px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: var(--mc-top-app-bar-container-color-local);
  z-index: 4;
  will-change: top;
}

:host(.animation) {
  transition: background-color;
  transition-duration: var(--mc-motion-duration-medium1);
  transition-timing-function: var(--mc-motion-easing-standard);
}

:host(.scrolled:not([compress])) {
  background-color: var(--mc-top-app-bar-container-scrolled-color-local);
}

.container {
  display: inline-flex;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  background-color: inherit;
  z-index: 1;
}

[name="headline"] {
  display: block;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--mc-font-large-title-size);
  font-weight: var(--mc-font-large-title-weight);
  line-height: var(--mc-font-large-title-line-height);
  letter-spacing: var(--mc-font-large-title-tracking);
  color: var(--mc-on-surface);
}

:host([centered]) [name="headline"] {
  text-align: center;
}

[name="leading-icon"]::slotted(*) {
  margin-right: 16px;
}

[name="leading-icon"]::slotted(mc-navigation-button) {
  margin-left: -8px;
}

[name="trailing-icon"]::slotted(*) {
  margin-left: 24px;
}


:host([medium]),
:host([large]) {
  align-items: start;
  height: 112px;
}

:host([large]) {
  height: 152px;
}

[name="alt-headline"] {
  display: block;
  position: absolute;
  bottom: 16px;
  font-size: var(--mc-font-small-headline-size);
  font-weight: var(--mc-font-small-headline-weight);
  line-height: var(--mc-font-small-headline-line-height);
  letter-spacing: var(--mc-font-small-headline-tracking);
  opacity: var(--mc-top-app-bar-alt-headline-opacity);
}

:host([medium][compress]) [name="headline"],
:host([large][compress]) [name="headline"] {
  opacity: calc(1 - var(--mc-top-app-bar-alt-headline-opacity));
}
