:host {
  --mc-padding: 24px;
  --mc-container-color: var(--mc-surface-container-high);
  --mc-elevation: var(--mc-elevation-3);
  --mc-shape: var(--mc-shape-large);
  --mc-surface-height: 0;

  position: absolute;
  margin: 0;
  border: 0;
  padding: var(--mc-padding);
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  width: inherit;
  border-radius: var(--mc-shape);
  overscroll-behavior: contain;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--mc-container-color);
  box-shadow: var(--mc-elevation);
  padding-top: var(--mc-padding-top, var(--mc-padding));
  clip-path: inherit;
}

:host(.modal) {
  margin: auto;
  position: fixed;
}

:host([popover]:popover-open) {
  display: flex;
}


@starting-style {
  :host([popover]:popover-open) {
    opacity: 0;
  }
}


:host(.bottom-sheet) {
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
  overflow-y: scroll;
}

:host(.bottom-sheet)::backdrop {
  opacity: 0;
  background-color: var(--mc-scrim);
  animation: surface-backdrop-out;
  animation-duration: var(--mc-motion-duration-short3);
}

:host(.bottom-sheet[popover]:popover-open)::backdrop {
  opacity: 32%;
  animation: surface-backdrop;
  animation-duration: var(--mc-motion-duration-medium2);
}

:host(.bottom-sheet:not(.swipe-active)) {
  transition: bottom;
  transition-duration: var(--mc-motion-duration-short3);
  transition-timing-function: var(--mc-motion-easing-emphasized-accelerate);
}


:host(.anchor[popover]:not(:popover-open)) {
  animation: hide-max-height;
  animation-duration: var(--mc-motion-duration-short3);
  animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);

  transition:
    display allow-discrete,
    overlay allow-discrete;
  transition-duration: var(--mc-motion-duration-short3);
  transition-timing-function: var(--mc-motion-easing-emphasized-accelerate);
}

:host(.anchor[popover]:popover-open) {
  animation: show-max-height;
  animation-duration: var(--mc-motion-duration-medium3);
  animation-timing-function: var(--mc-motion-easing-emphasized);
}

:host(.modal[popover]:not(:popover-open)) {
  animation: hide-translate-y;
  animation-duration: var(--mc-motion-duration-short3);
  animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);

  transition:
    display allow-discrete,
    overlay allow-discrete;
  transition-duration: var(--mc-motion-duration-short3);
  transition-timing-function: var(--mc-motion-easing-emphasized-accelerate);
}

:host(.modal[popover]:popover-open) {
  animation: show-translate-y;
  animation-duration: var(--mc-motion-duration-medium3);
  animation-timing-function: var(--mc-motion-easing-emphasized);
}

:host(.fullscreen[popover]:not(:popover-open)) {
  animation: hide-fullscreen;
  animation-duration: var(--mc-motion-duration-short3);
  animation-timing-function: var(--mc-motion-easing-emphasized-accelerate);

  transition:
    display allow-discrete,
    overlay allow-discrete;
  transition-duration: var(--mc-motion-duration-short3);
  transition-timing-function: var(--mc-motion-easing-emphasized-accelerate);
}

:host(.fullscreen[popover]:popover-open) {
  animation: show-fullscreen;
  animation-duration: var(--mc-motion-duration-medium3);
  animation-timing-function: var(--mc-motion-easing-emphasized);
}

.scrim {
  display: none;
}

:host(.modal[popover]:popover-open) .scrim {
  display: block;
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 0;
  border-radius: 0;
}


@keyframes show-translate-y {
  0% {
    display: flex;
    opacity: 0;
    min-height: 48px;
    overflow: hidden;
    max-height: 40%;
    transform: translateY(-60%);
  }

  60% {
    opacity: 1;
  }

  70% {
    display: flex;
    min-height: 48px;
    overflow: hidden;
    max-height: inherit;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hide-translate-y {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show-max-height {
  0% {
    opacity: 0;
    max-height: calc(var(--mc-surface-height) * 0.3);
    overflow: hidden;
    display: flex;
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--mc-surface-height);
    overflow: hidden;
    display: flex;
  }
}

@keyframes hide-max-height {
  0% {
    opacity: 1;
    max-height: var(--mc-surface-height);
    overflow: hidden;
  }

  40% {
    opacity: 1;
  }

  100% {
    overflow: hidden;
    opacity: 0;
    max-height: calc(var(--mc-surface-height) * 0.3);
  }
}

@keyframes show-fullscreen {
  0% {
    overflow: hidden;
    opacity: 0;
    height: 30dvh;
    top: calc(50% - 15dvh);
    width: 70dvw;
    margin: 0 auto;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
  }
}

@keyframes hide-fullscreen {
  0% {
    position: fixed;
    display: flex;
    overflow: hidden;
    opacity: 1;
    height: 100dvh;
    width: 100dvw;
    margin: 0 auto;
    top: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    position: fixed;
    display: flex;
    overflow: hidden;
    opacity: 0;
    height: 60dvh;
    width: 70dvw;
    margin: 0 auto;
    top: calc(50% - 30dvh);
  }
}


@keyframes surface-backdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 32%;
  }
}

@keyframes surface-backdrop-out {
  0% {
    opacity: 32%;
  }

  100% {
    opacity: 0;
  }
}
